@model ErrorViewModel
@{
    ViewData["Title"] = "Kein Zugriff";
}

<h1 class="text-danger">Kein Zugriff</h1>
<h2 class="text-danger">Du besitzt nicht die benötigten Rechte oder die Seite existiert nicht.</h2>
